@{
    //LCGrid資料來源
    var GridDataSource = Url.Action(
        nameof(ElectronApp.Areas.DepManage.Controllers.HomeController.Index), 
        nameof(ElectronApp.Areas.DepManage.Controllers.HomeController).GetControllerName()
    );
    //取得現有部門資料
    var UrlAllDepData = Url.Action(nameof(ElectronApp.Areas.DepManage.Controllers.HomeController.GetAllDepData).ReplaceAsyncEmpty());
}

@section Scripts {
    <script>
        let PageScope = {
            Url: {
                AllDepData: '@UrlAllDepData',
            }
        };
    </script>
    <script type="module">
        import { ListViewModel } from "AreaDepManage/ListViewModel.js";
        document.addEventListener("DOMContentLoaded", async function () {
            // #region 取得共通資料
            let AllDepData = []
            try {
                const response = await $.ajax({
                    url: PageScope.Url.AllDepData,
                    type: "POST",
                    headers: {
                        RequestVerificationToken: document.querySelector(
                            "[name='__RequestVerificationToken']"
                        ).value,
                    },
                });
                response.unshift({ Name: "根節點", ID: 0 });
                AllDepData = response;
            } catch (err) {
                console.error(err);
            }
            // #endregion 取得共通資料

            Vue.createApp({
                components: {
                    "lc-grid": window.lcGridVue.LcGrid,
                },
                data () {
                    return {
                        searchRouterModel: new ListViewModel(),
                        dataRows: {},
                        AllDepData: AllDepData,
                    };
                },
                async mounted () {
                },
                methods: {
                    UpdateData (data) {
                        this.dataRows = data;
                    },
                    GetDepNameById (id) {
                        const dep = this.AllDepData.find(a => a.ID == id);
                        if (dep) {
                            return dep.Name;
                        }
                        else {
                            return "";
                        }
                    }
                }
            }).mount("#VueApp");
        });
    </script>
}

<section id="VueApp">
    @Html.AntiForgeryToken()
    <div class="container p-3">
        <lc-grid :datasource="'@GridDataSource'"
                 v-on:rowschanged="UpdateData"
                 :default-search-model="searchRouterModel"
                 :sort-field="'ID'"
                 :sort-action="'DESC'"
                 :hidden-search-space="false"
                 :content-type="'FORM'"
                 :ui-size="'sm'">

            <template #search-area>
                <div class="row">
                    <div class="col-3 mb-3">
                        <label for="ByField" class="form-label">關鍵字搜尋</label>
                        <select id="ByField" name="ByField" class="form-control" v-model="searchRouterModel.ByField">
                            <option value="0">不拘</option>
                        </select>
                    </div>
                    <div class="col-3 mb-3">
                        <label for="ByKeyword" class="form-label">&nbsp</label>
                        <input class="form-control" id="ByKeyword" name="ByKeyword" v-model="searchRouterModel.ByKeyword">
                    </div>
                </div>
            </template>

            <template #feature-area>
                <div>
                    <a class="btn btn-sm"
                       style="background-color: #ec6542; color: #FFF;"
                       :href="`@(Url.Action("Create"))`">
                        新增
                    </a>
                </div>
            </template>

            <template #list-area>
                <div class="row list-header bg-gray-light">
                    <div class="col th">序號</div>
                    <div class="col th" data-sortname="Name">部門名稱</div>
                    <div class="col th" data-sortname="Alias">縮寫</div>
                    <div class="col th" data-sortname="ParentID">上層部門</div>
                    <div class="col th" data-sortname="EstablishDate">建立日期</div>
                    <div class="col th"></div>
                </div>
                <template v-for="(item, idx) in dataRows" :key="item">
                    <div class="row list-body">
                        <div class="col td" data-title="序號">{{ idx + 1 }}</div>
                        <div class="col td" data-title="部門名稱">{{ item.Name }}</div>
                        <div class="col td" data-title="縮寫">{{ item.Alias }}</div>
                        <div class="col td" data-title="上層部門">{{ GetDepNameById(item.ParentID) }}</div>
                        <div class="col td" data-title="建立日期">{{ item.EstablishDate }}</div>
                        <div class="col td">
                            <a :href="`@(Url.Action("Edit"))/${item.ID}`">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                        </div>
                    </div>
                </template>
            </template>
        </lc-grid>
    </div>
</section>